div{
    border: solid black 1px;
    width: 24%;
    float: left;
    
}
div img{
    width: 100%;
}
body{

    margin-left: 100px;
    padding: 20px;
    background-color: aqua;
}
h4{
    padding-left: 50px;
}
h1{
    color: black;
    margin-left: 608px;
    margin-top: 5px;
}
h6{
    padding-left: 20px;
    font-size: smaller;
}
