div{
    border: solid 1px black;
    width: 50px;
    height: 100px;
}
h1{
    color: white;
    margin-left: 352px;
    margin-top: 35px;
    
}
#b1{
    background-color: blueviolet;
    margin-left: 420px;
    margin-top: 100px;
}
#b2{
    background-color: blue;
    margin-left: 477px;
    margin-top: -102px;
}
#b3{
    background-color: lightblue;
    margin-left: 535px;
    margin-top: -102px;
}
#b4{
    background-color: lightskyblue;
    margin-left: 592px;
    margin-top: -102px;
}
#b5{
    background-color: saddlebrown;
    margin-left: 649px;
    margin-top: -102px;
}
body{
    background-color: black;
}
#b6{
    background-color: chartreuse;
    margin-left: 348px;
    margin-top: 31px;
}
#b7{
    background-color: cyan;
    margin-left: 407px;
    margin-top: -103px;
}
#b8{
    background-color: green;
    margin-left: 466px;
    margin-top: -102px;
}
#b9{
    background-color: lightgreen;
    margin-left: 525px;
    margin-top: -103px;
}
#b10
{
    background-color: lime;
    margin-left: 583px;
    margin-top: -102px;
}
#b11{
    background-color: mediumseagreen;
    margin-left: 641px;
    margin-top: -103px;
}
#b12{
    background-color: mediumspringgreen;
    margin-left: 699px;
    margin-top: -102px;
}
#b13{
    background-color:lightcyan;    
    margin-left: 284px;
    margin-top: 27px;
}
#b14{
    background-color: royalblue;
    margin-left: 346px;
    margin-top: -97px;
}
#b15{
    background-color: sandybrown;
    margin-left: 405px;
    margin-top:  -103px;
}
#b16{
    background-color: brown;
    margin-left: 465px;
    margin-top: -103px;
}
#b17{
    background-color: red;
    margin-left: 522px;
    margin-top: -102px;
}
#b18{
    background-color: saddlebrown;
    margin-left: 581px;
    margin-top: -103px;
}
#b19{
    background-color: sienna;
    margin-left: 642px;
    margin-top: -103px;
}
#b20{
    background-color: slategray;
    margin-left: 701px;
    margin-top: -103px;
}
#b21{
    background-color: tomato;
    margin-left: 760px;
    margin-top: -103px;
}